body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin: 0;
}

form {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

input[type="text"],
select,
button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters label {
    color: #333; /* Color de texto en modo claro */
}

.dark-theme .filters label {
    color: #050000; /* Color de texto en modo oscuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f0f0f0;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-button,
.edit-button,
.complete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.delete-button:hover,
.edit-button:hover,
.complete-button:hover {
    background-color: #f0f0f0;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme input[type="text"],
.dark-theme select,
.dark-theme button {
    background-color: #f0f0f0;
    color: #000000;
    border-color: #666;
}

.dark-theme button {
    background-color:rgba(245, 170, 39, 0.8); /* Azul */
}

.dark-theme button:hover {
    background-color: rgba(255, 163, 3, 0.8); /* Azul oscuro */
}

.dark-theme li {
    background-color: #444;
    color: #fff;
}

.dark-theme li:hover {
    background-color: #555;
}

.dark-theme .completed {
    color: #888;
}
